.sidenav {
  width: 15vw;
  position: fixed;
  background: #afa4a4;
  overflow-x: hidden;
  padding: 0;
  height: 85vh;
  margin-top: 80px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
  background-color: yellow;
}

button {
  padding: 15px;
  width: 10vw;
  margin-left: 2vw;
  margin-top: 1vw;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* button{
  padding:15px;
  width: 8vw;
  margin-left: 1vw;
  margin-top: 1vw;
  border-radius: 20px;
  border: none;
  outline: none;
} */
button:hover{
  background-color: #ffe4c4;
}