#header{
    background: #222035;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    font-family: 'Exo', sans-serif;
    font-weight: 250;
    
}
.headerText{
    margin-top: 18px;
}
#header > .logo1{
    color: orange;
    font-size: 35px;
    padding-left: 30px;
    cursor: default;

}
#header > .logo2{
    color: white;
    font-size: 35px;
    cursor: default;

}

#header > .profile{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -23px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

 #header .profile:hover{
    color: orange ;
}